// color

$bold-color: #19191B;
$plain-color:#696871;
$orange-color: #FF7143;
$purple-color:#5454D4;
$monthly-button-color:#F7F7FB;
$dark-orange-color:#9F3919;
$white-color:#FFFFFF;
// font-size

$main-font: 20px;
$second-font: 18px;
$third-font:17px;
$fourth-font:16px;
$nav-menu-font:15px;


//font-weight
$font-weight:400;

//border-radius

$border-radius:10px;

// font-familly
$font-family: "Mulish", serif;